* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('assets/monstdat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Protest Strike', sans-serif;
}


.container {
  
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 350px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.log {
    text-align: center;
}

